.xerxes-carousel {
  overflow-x: hidden;
  position: relative;
}
.xerxes-carousel__container {
  height: 300px;
  position: relative;
}
.xerxes-carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
.xerxes-carousel__item.xerxes-carousel__card {
  width: 50%;
}